.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.pv-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pv-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.overflow{
  overflow: scroll;
}
.l-ft-xxs{
  font-size: $font-xxs;
}
.l-ft-xs{
  font-size: $font-xs;
}
.l-ft-s{
  font-size: $font-small;
}
.l-ft-l{
  font-size: $font-large;
}
.l-ft-xl{
  font-size: $font-xl;
}
.l-ft-xxl{
  font-size: $font-xxl;
}

.l-txt-c{
  text-align: center;
}
.l-txt-r{
  text-align: right;
}
.l-fw-b{
  font-weight: bold
}
.l-fw-n{
  font-weight: normal;
}

.l-aln-c{
  align-items: center;
}
.l-jc-c{
  justify-content: center;
}

.l-jc-sb{
  justify-content: space-between;
}
.l-jc-sa{
  justify-content: space-around;
}
.l-fl-wr{
  flex-wrap: wrap;
}
.l-fl-col{
  @include flex(column);
}

.l-fl-row{
  @include flex(row);
}

.l-fl-1{
  flex:1;
}

.l-w-100{
  width: 100%;
}
.l-h-100{
  height: 100%;
}
.l-low-op{
  opacity:0.382;
}
.active{
  opacity: 1;
}