.dates, .dates input{
  .l-ft-s{
    @media screen and (max-width: $se-break){
      font-size: $font-xs;
    }
  }
}

.list-button{
  a:hover{
    opacity: 0.382;
  }
}

#Header{
  button:hover{
    opacity: 1;
  }
}

.ex-link:hover{
  opacity: 1;
}

a:visited{
  color:inherit;
}

#app{
  @media screen and (max-width: $break-small){
    width: 100%;
  }
}

#dailies{
  ul {
    @media screen and (max-width: $se-break){
      flex-direction: column;
      justify-content: space-between;
      li{
        flex:0;
      }
    }
  }
  ul:last-of-type{
    @media screen and (max-width: $se-break){
      li{
        flex:0;
      }
    }
  }
}

body{
  @media screen and (min-width: $screen-break){
    max-height: 720px;
  }
}